<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>bottom</key>
		<string>d0cccb</string>
		<key>top</key>
		<string>868382</string>
	</dict>
	<key>Ortel Mobile</key>
	<dict>
		<key>bottom</key>
		<string>274468</string>
		<key>top</key>
		<string>566e8b</string>
		<key>strings</key>
		<array>
			<string>ORTEL</string>
		</array>
	</dict>
	<key>Mundi Móvil</key>
	<dict>
		<key>bottom</key>
		<string>a3ad10</string>
		<key>top</key>
		<string>dee941</string>
		<key>strings</key>
		<array>
			<string>MONDIMOVIL</string>
		</array>
	</dict>
	<key>MovilDia</key>
	<dict>
		<key>bottom</key>
		<string>cc0012</string>
		<key>top</key>
		<string>f75a59</string>
		<key>strings</key>
		<array>
			<string>DIA</string>
			<string>DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIÓN, S.A.</string>
		</array>
	</dict>
	<key>PepePhone</key>
	<dict>
		<key>bottom</key>
		<string>98000a</string>
		<key>top</key>
		<string>f6d5d7</string>
		<key>strings</key>
		<array>
			<string>PEPEPHONE</string>
			<string>PEPEMOBILE,S.L.</string>
		</array>
	</dict>
	<key>Lyca Mobile</key>
	<dict>
		<key>bottom</key>
		<string>125a9f</string>
		<key>top</key>
		<string>3f87c4</string>
		<key>strings</key>
		<array>
			<string>LYCAMOBILE</string>
			<string>LYCAMOBILE, S.L.</string>
			<string>LYCAMOBILE,S.L.</string>
		</array>
	</dict>
	<key>LlamaYa</key>
	<dict>
		<key>bottom</key>
		<string>500050</string>
		<key>top</key>
		<string>7e0088</string>
		<key>strings</key>
		<array>
			<string>LLAMAYA</string>
			<string>MOREMINUTESCOMMUNICATIONS,S.L.</string>
		</array>
	</dict>
	<key>Cable Móvil</key>
	<dict>
		<key>bottom</key>
		<string>3b6b1b</string>
		<key>top</key>
		<string>4a9915</string>
		<key>strings</key>
		<array>
			<string>CABLEMOVIL</string>
		</array>
	</dict>
	<key>Bankinter Móvil</key>
	<dict>
		<key>bottom</key>
		<string>fc2407</string>
		<key>top</key>
		<string>fa7d2e</string>
		<key>strings</key>
		<array>
			<string>BANKINTER</string>
		</array>
	</dict>
	<key>Talkout</key>
	<dict>
		<key>bottom</key>
		<string>d75614</string>
		<key>top</key>
		<string>fdc533</string>
		<key>strings</key>
		<array>
			<string>TALKOUT</string>
		</array>
	</dict>
	<key>DIGI mobil</key>
	<dict>
		<key>bottom</key>
		<string>0f72b9</string>
		<key>top</key>
		<string>2098e7</string>
		<key>strings</key>
		<array>
			<string>DIGI SPAIN TELECOM</string>
			<string>DIGISPAINTELECOM,S.L.</string>
		</array>
	</dict>
	<key>Jazztel Móvil</key>
	<dict>
		<key>bottom</key>
		<string>c6860e</string>
		<key>top</key>
		<string>f2b83d</string>
		<key>strings</key>
		<array>
			<string>JAZZTEL</string>
			<string>JAZZTELECOM,S.A.U.</string>
		</array>
	</dict>
	<key>MÁS Móvil</key>
	<dict>
		<key>bottom</key>
		<string>eae00d</string>
		<key>top</key>
		<string>fbfaa4</string>
		<key>strings</key>
		<array>
			<string>MASMOVIL</string>
		</array>
	</dict>
	<key>Yoigo</key>
	<dict>
		<key>bottom</key>
		<string>4c9e21</string>
		<key>top</key>
		<string>d1d309</string>
		<key>strings</key>
		<array>
			<string>YOIGO</string>
			<string>XFERAMÓVILES,S.A.</string>
			<string>yoigo</string>
		</array>
	</dict>
	<key>Sarenet</key>
	<dict>
		<key>bottom</key>
		<string>cc0012</string>
		<key>top</key>
		<string>fb4a5e</string>
		<key>strings</key>
		<array>
			<string>SARENET</string>
		</array>
	</dict>
	<key>Tuenti</key>
	<dict>
		<key>bottom</key>
		<string>0c5e9e</string>
		<key>top</key>
		<string>1487cc</string>
		<key>strings</key>
		<array>
			<string>TUENTI</string>
		</array>
	</dict>
	<key>ONO</key>
	<dict>
		<key>bottom</key>
		<string>723989</string>
		<key>top</key>
		<string>9660ad</string>
		<key>strings</key>
		<array>
			<string>ONO</string>
		</array>
	</dict>
	<key>Happy Móvil</key>
	<dict>
		<key>bottom</key>
		<string>ddbf0e</string>
		<key>top</key>
		<string>fde456</string>
		<key>strings</key>
		<array>
			<string>HAPPYMOVIL</string>
		</array>
	</dict>
	<key>Movistar</key>
	<dict>
		<key>bottom</key>
		<string>084169</string>
		<key>top</key>
		<string>176990</string>
		<key>strings</key>
		<array>
			<string>TELEFÓNICA MÓVILES ESPAÑA, S.A.U.</string>
			<string>MOVISTAR</string>
			<string>TELEFÓNICAMÓVILESESPAÑA,S.A.U.</string>
		</array>
	</dict>
	<key>Movi Data</key>
	<dict>
		<key>bottom</key>
		<string>a50051</string>
		<key>top</key>
		<string>ea1c8d</string>
		<key>strings</key>
		<array>
			<string>MOVILDATA</string>
		</array>
	</dict>
	<key>Vectone Móvil</key>
	<dict>
		<key>bottom</key>
		<string>371d65</string>
		<key>top</key>
		<string>5b3b94</string>
		<key>strings</key>
		<array>
			<string>VECTONE MOVIL</string>
		</array>
	</dict>
	<key>Blau</key>
	<dict>
		<key>bottom</key>
		<string>1078b9</string>
		<key>top</key>
		<string>4db6eb</string>
		<key>strings</key>
		<array>
			<string>BLAU</string>
		</array>
	</dict>
	<key>Móvil R</key>
	<dict>
		<key>bottom</key>
		<string>2c81a9</string>
		<key>top</key>
		<string>5faed0</string>
		<key>strings</key>
		<array>
			<string>R CABLE Y TELECOMUNICACIONES</string>
			<string>RCABLEYTELECOMUNICACIONES</string>
		</array>
	</dict>
	<key>Eroski Móvil</key>
	<dict>
		<key>bottom</key>
		<string>b50012</string>
		<key>top</key>
		<string>ee2c3d</string>
		<key>strings</key>
		<array>
			<string>EROSKIMOVIL</string>
			<string>CECOSAINSTITUCIONAL,S.L.</string>
		</array>
	</dict>
	<key>Simyo</key>
	<dict>
		<key>bottom</key>
		<string>fc2307</string>
		<key>top</key>
		<string>fa7d2e</string>
		<key>strings</key>
		<array>
			<string>KPN</string>
		</array>
	</dict>
	<key>Lebara Móvil</key>
	<dict>
		<key>bottom</key>
		<string>1394de</string>
		<key>top</key>
		<string>32b9f8</string>
		<key>strings</key>
		<array>
			<string>LEBARA</string>
			<string>LEBARA MOVIL</string>
			<string>LEBARALIMITEDUK</string>
		</array>
	</dict>
	<key>RACC Móvil</key>
	<dict>
		<key>bottom</key>
		<string>eda70f</string>
		<key>top</key>
		<string>fbce3e</string>
		<key>strings</key>
		<array>
			<string>RACC</string>
		</array>
	</dict>
	<key>BT Móvil</key>
	<dict>
		<key>bottom</key>
		<string>4e4792</string>
		<key>top</key>
		<string>9c8fbd</string>
		<key>strings</key>
		<array>
			<string>BT</string>
		</array>
	</dict>
	<key>Hualong</key>
	<dict>
		<key>bottom</key>
		<string>d31c02</string>
		<key>top</key>
		<string>fe3e23</string>
		<key>strings</key>
		<array>
			<string>HUALONG</string>
		</array>
	</dict>
	<key>Carrefour Móvil</key>
	<dict>
		<key>bottom</key>
		<string>6b0038</string>
		<key>top</key>
		<string>9e0062</string>
		<key>strings</key>
		<array>
			<string>CARREFOUR</string>
		</array>
	</dict>
	<key>Hong da mobile</key>
	<dict>
		<key>bottom</key>
		<string>650008</string>
		<key>top</key>
		<string>a40714</string>
		<key>strings</key>
		<array>
			<string>HONGDAMOBILE</string>
		</array>
	</dict>
	<key>The Phone House</key>
	<dict>
		<key>bottom</key>
		<string>041d4a</string>
		<key>top</key>
		<string>104d7d</string>
		<key>strings</key>
		<array>
			<string>THE PHONE HOUSE</string>
		</array>
	</dict>
	<key>Vodafone</key>
	<dict>
		<key>bottom</key>
		<string>c80012</string>
		<key>top</key>
		<string>f42832</string>
		<key>strings</key>
		<array>
			<string>VODAFONE</string>
			<string>VODAFONE ESPAÑA, S.A.U.</string>
			<string>VODAFONEESPAÑA,S.A.U.</string>
		</array>
	</dict>
	<key>Euskaltel</key>
	<dict>
		<key>bottom</key>
		<string>be2714</string>
		<key>top</key>
		<string>f59156</string>
		<key>strings</key>
		<array>
			<string>EUSKALTEL</string>
		</array>
	</dict>
	<key>Fonyou</key>
	<dict>
		<key>bottom</key>
		<string>47710b</string>
		<key>top</key>
		<string>6ea91e</string>
		<key>strings</key>
		<array>
			<string>FONYOU</string>
			<string>FONYOUTELECOM,S.L.</string>
		</array>
	</dict>
	<key>TeleCable</key>
	<dict>
		<key>bottom</key>
		<string>162c81</string>
		<key>top</key>
		<string>3457cc</string>
		<key>strings</key>
		<array>
			<string>TELECABLE</string>
			<string>TELECABLEDEASTURIAS,S.A.U.</string>
		</array>
	</dict>
	<key>Orange</key>
	<dict>
		<key>bottom</key>
		<string>fc4f08</string>
		<key>top</key>
		<string>fd8f51</string>
		<key>strings</key>
		<array>
			<string>ORANGE</string>
			<string>FRANCETELECOMESPAÑA,S.A.UNIPERSONAL</string>
		</array>
	</dict>
	<key>Euphony</key>
	<dict>
		<key>bottom</key>
		<string>e22e0a</string>
		<key>top</key>
		<string>fc6a3e</string>
		<key>strings</key>
		<array>
			<string>EUROPHONY</string>
		</array>
	</dict>
	<key>Viva Mobile</key>
	<dict>
		<key>bottom</key>
		<string>d13e0f</string>
		<key>top</key>
		<string>f3970a</string>
		<key>strings</key>
		<array>
			<string>VIVAMOBILE</string>
		</array>
	</dict>
	<key>Sweno</key>
	<dict>
		<key>bottom</key>
		<string>7da418</string>
		<key>top</key>
		<string>c0e851</string>
		<key>strings</key>
		<array>
			<string>SWENO</string>
		</array>
	</dict>
	<key>40 Móvil</key>
	<dict>
		<key>bottom</key>
		<string>258648</string>
		<key>top</key>
		<string>67c98e</string>
		<key>strings</key>
		<array>
			<string>40MOVIL</string>
		</array>
	</dict>
	<key>Orbitel</key>
	<dict>
		<key>bottom</key>
		<string>0d2f59</string>
		<key>top</key>
		<string>5496dd</string>
		<key>strings</key>
		<array>
			<string>ORBITEL</string>
		</array>
	</dict>
	<key>WPR Mobile</key>
	<dict>
		<key>bottom</key>
		<string>0c5e9e</string>
		<key>top</key>
		<string>1487cc</string>
		<key>strings</key>
		<array>
			<string>WPR</string>
		</array>
	</dict>
	<key>Hits Mobile</key>
	<dict>
		<key>bottom</key>
		<string>47720c</string>
		<key>top</key>
		<string>74b022</string>
		<key>strings</key>
		<array>
			<string>HITS</string>
			<string>HITSTELECOMSPAIN,S.A.</string>
		</array>
	</dict>
	<key>Pinger</key>
	<dict>
		<key>bottom</key>
		<string>9fa3d9</string>
		<key>top</key>
		<string>6164ce</string>
		<key>strings</key>
		<array>
			<string>INGENIUMOUTSOURCINGSERVICES,S.L.</string>
		</array>
	</dict>
	<key>Midas Mobile</key>
	<dict>
		<key>bottom</key>
		<string>b82009</string>
		<key>top</key>
		<string>e15e20</string>
		<key>strings</key>
		<array>
			<string>MIDASMOBILE</string>
		</array>
	</dict>
	<key>Vizzavi</key>
	<dict>
		<key>bottom</key>
		<string>c80012</string>
		<key>top</key>
		<string>f42832</string>
		<key>strings</key>
		<array>
			<string>VIZZAVI</string>
		</array>
	</dict>
</dict>
</plist>
