/* estilos de la cabecera */

#cabecera{
	position:fixed;
	top:@margen;
	width: 100%;
	min-width:@umbral-min;
}

.lado{
	display:inline-block;
	background-image: url('../img/bg_header_tile_x.png');
	background-repeat: repeat-x;
	background-position: bottom;
	background-size:100%;
	height:44.4%;
	width: 12.5%;

	@media (max-width: @umbral-2){
		width: 12.25%;
	}

	@media (max-width: @umbral-1){
		width: 12%;
	}
}

#cabecera_lado_izquierdo{
	.lado;
	margin-right:-2.4%;

	@media (max-width: @umbral-2){
		margin-right:-2.6%;
	}

	@media (max-width: @umbral-1){
		margin-right:-2.9%;
	}
}

#cabecera_lado_derecho{
	.lado;
	margin-left:-2.4%;

	@media (max-width: @umbral-2){
		margin-left:-2.6%;
	}

	@media (max-width: @umbral-1){
		margin-left:-2.9%;
	}
}

#cabecera_centro{
	position:relative;
	display:inline-block;
	width: 79%;
}