/* estilos generales */

@font-face {
	font-family:"BandaRegular";
	src: url(fuentes/regular.otf) format("opentype"),url(fuentes/regular.eot?) format("eot"),url(fuentes/regular.woff) format("woff"),url(fuentes/regular.ttf) format("truetype"),url(fuentes/regular.svg#BandaRegular) format("svg");
	font-weight:normal;
	font-style:normal;
}

html{
	font-size: 62.5%; // Trick for treat rem as px (http://snook.ca/archives/html_and_css/font-size-with-rem)
}

body{
	background-color: @fondo;
	color: @color_texto;
	text-align: center;
	line-height: 140%;
	font-family: "BandaRegular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 0;
	
	@media (max-width: 980px) {
		padding: 0;
	}
}

h1{
	font-size: x-large;
	line-height: 30px;
}

a{
	&:link{	color: #00A9D8;}
	&:hover{text-decoration: underline;}
}

#cuerpo{
	margin:0 auto 50px;
	background-image: url('../img/bg.png');
	background-repeat: repeat-x;
	background-position: top;
	width: 1510px;
	padding-top:@altura-cabecera-centro-9 + @margen;
	padding-bottom:20px;

	@media (max-width: @umbral-9){
		width: 1132px;
		padding-top:@altura-cabecera-centro-8 + @margen;
	}

	@media (max-width: @umbral-8){
		width: 851px;
		padding-top:@altura-cabecera-centro-7 + @margen;
	}

	@media (max-width: @umbral-7){
		width: 756px;
		padding-top:@altura-cabecera-centro-6 + @margen;
	}

	@media (max-width: @umbral-6){
		width: 708px;
		padding-top:@altura-cabecera-centro-5 + @margen;
	}

	@media (max-width: @umbral-5){
		width: 566px;
		padding-top:@altura-cabecera-centro-4 + @margen;
	}

	@media (max-width: @umbral-4){
		width: 472px;
		padding-top:@altura-cabecera-centro-3 + @margen;
	}

	@media (max-width: @umbral-3){
		width: 358px;
		padding-top:@altura-cabecera-centro-2 + @margen;
	}

	@media (max-width: @umbral-2){
		width: 235px;
		padding-top:@altura-cabecera-centro-1 + @margen;
	}
}

.div_boton{
	background-color:#00455B;
	padding:2%;
	padding-top:1%;
	margin:2% auto;
	cursor:hand;
	cursor: pointer;

	img{
		@media (max-width: @umbral-2){
			 width: 15px;
		}
	}
}

#logotipo{
	margin:0 auto 50px;
	width:15%;
	min-width: 150px;
}