#div_numero_telefono{
	background-color:#007C90;
	text-align:center;
	padding:2%;
	padding-top:1%;
	margin:2% auto;
	
	input{
		width:90%;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: none;
		margin:0 auto;
		padding:10px 20px;
		color:#777777;
		
		@media (max-width: @umbral-2){
			width: 200px;
			padding:10px;
		}
	}
}

#div_captcha{
	background-color:#00556B;
	text-align:center;
	padding:2%;
	padding-top:1%;
	margin:2% auto;

	#captcha{
		margin: 0 auto 10px;
	}
	
	#captcha img{
		width:80%;
		@media (max-width: @umbral-2){
			 width: 95%;
		}
	}

	#recargar{
		width:5%;
		height:auto;
		cursor:hand;
		cursor: pointer;

		@media (max-width: @umbral-2){
			 width: 15%;
		}
	}

	input{
		width:80%;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: none;
		padding:10px 20px;
		color:#777777;
		margin: 0 3%;

		@media (max-width: @umbral-2){
			width: 200px;
			padding:10px;
		}
	}
}

