#div_numero_telefono, #div_captcha{
	text-align:center;
	padding:2%;
	padding-top:1%;
	margin:2% auto;

	input{
    -moz-border-radius: @radio_input;
    -webkit-border-radius: @radio_input;
    border-radius: @radio_input;
    border: none;
		padding:10px 20px;
		color:@color_input;

		@media (max-width: @umbral-2){
			width: @anchura_input_minimo;
			padding:10px;
		}
	}	
}

#div_numero_telefono{
	background-color:@fondo_bloque_1;
	
	input{
		width: @anchura_input;
		margin:0 auto;
	}
}

#div_captcha{
	background-color:@fondo_bloque_2;

	#captcha{
		margin: 0 auto 10px;

		img{
			width:@anchura_imagen_captcha;
			@media (max-width: @umbral-2){
				 width: @anchura_imagen_captcha_pantalla_pequenha;
			}
		}
	}

	#recargar{
		width:@anchura_imagen_recargar;
		height:auto;
		cursor:hand;
		cursor: pointer;

		@media (max-width: @umbral-2){
			 width: @anchura_imagen_recargar_pantalla_pequenha;
		}
	}

	input{
		width: @anchura_texto_captcha;
		margin: 0 3%;
	}
}

