#div_resultado_numero_telefono, #div_resultado_compania{
	text-align:center;
	padding:2%;
	padding-top:1%;
	margin:3% auto;
	display:none;
	
	h1{
	   padding: 10px 20px;
	}

	input{
    -moz-border-radius: @radio_input;
    -webkit-border-radius: @radio_input;
    border-radius: @radio_input;
    border: none;
    margin:0 auto;
		padding:10px 20px;
		color:white;
		font-size: x-large;
		text-align:center;

		-ms-box-sizing: padding-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: padding-box;
		box-sizing: padding-box;
		width: 100%;
	
		@media (max-width: @umbral-2){
			font-size: large;
			padding:10px;
		}
	}
}

#div_resultado_numero_telefono{
	background-color:@fondo_bloque_1;
	
	input{
		background:@fondo_resultado_numero_telefono;    
    border: 1px solid @borde_resultado_numero_telefono;
		
		cursor:hand;
		cursor: pointer;
	}
}

#div_resultado_compania{
	background-color:@fondo_bloque_2;

	input{
		padding:30px 20px;

		@media (max-width: @umbral-2){
			padding:15px 10px;
		}

	}
}