/* PARA EL RESPONSIVE */
@margen: 0px;

@fondo: #000;
@color_texto: #FFF;
@color_input:#777777;
@radio_input:20px;
@anchura_input:90%;
@anchura_input_minimo:200px;

@fondo_bloque_1:#007C90;
@fondo_bloque_2:#00556B;
@fondo_boton:#00455B;

@anchura_imagen_captcha:80%;
@anchura_imagen_captcha_pantalla_pequenha:95%;
@anchura_imagen_recargar:5%;
@anchura_imagen_recargar_pantalla_pequenha:15%;
@anchura_texto_captcha:80%;

@fondo_resultado_numero_telefono:#2DB200;
@borde_resultado_numero_telefono:#50CC2B;

@anchura-1:320px;
@umbral-1:@anchura-1 - 1;
@altura-cabecera-lateral-1:24px;
@anchura-cabecera-lateral-1:35px;
@altura-cabecera-centro-1:53px;
@anchura-cabecera-pico-1:10px;

@anchura-2:480px;
@umbral-2:@anchura-2 - 1;
@altura-cabecera-lateral-2:36px;
@anchura-cabecera-lateral-2:50px;
@altura-cabecera-centro-2:80px;
@anchura-cabecera-pico-2:13px;

@anchura-3:640px;
@umbral-3:@anchura-3 - 1;
@altura-cabecera-lateral-3:47px;
@anchura-cabecera-lateral-3:70px;
@altura-cabecera-centro-3:105px;
@anchura-cabecera-pico-3:17px;

@anchura-4:768px;
@umbral-4:@anchura-4 - 1;
@altura-cabecera-lateral-4:56px;
@anchura-cabecera-lateral-4:84px;
@altura-cabecera-centro-4:126px;
@anchura-cabecera-pico-4:19px;

@anchura-5:960px;
@umbral-5:@anchura-5 - 1;
@altura-cabecera-lateral-5:70px;
@anchura-cabecera-lateral-5:105px;
@altura-cabecera-centro-5:157px;
@anchura-cabecera-pico-5:24px;

@anchura-6:1024px;
@umbral-6:@anchura-6 - 1;
@altura-cabecera-lateral-6:74px;
@anchura-cabecera-lateral-6:112px;
@altura-cabecera-centro-6:168px;
@anchura-cabecera-pico-6:25px;

@anchura-7:1136px;
@umbral-7:@anchura-7 - 1;
@altura-cabecera-lateral-7:84px;
@anchura-cabecera-lateral-7:118px;
@altura-cabecera-centro-7:189px;
@anchura-cabecera-pico-7:27px;

@anchura-8:1536px;
@umbral-8:@anchura-8 - 1;
@altura-cabecera-lateral-8:111px;
@anchura-cabecera-lateral-8:168px;
@altura-cabecera-centro-8:251px;
@anchura-cabecera-pico-8:36px;

@anchura-9:2048px;
@umbral-9:@anchura-9 - 1;

@anchura-9-maxima:2000px;
@altura-cabecera-lateral-9:147px;
@anchura-cabecera-lateral-9:200px;
@altura-cabecera-centro-9:335px;
@anchura-cabecera-pico-9:47px;

@iphone-horizontal-anchura: 480px;
@iphone-vertical-anchura:	320px;

@iphone4-horizontal-anchura: 960px;
@iphone4-vertical-anchura:	640px;

@iphone5-horizontal-anchura: 1136px;
@iphone5-vertical-anchura:	640px;

@ipad-horizontal-anchura: 1024px;
@ipad-vertical-anchura:	768px;

@ipad-retina-horizontal-anchura: 2048px;
@ipad-retina-vertical-anchura:	1536px;

